---
import HeroSection from '../components/HeroSection.astro';
import PropertyListings from '../components/PropertyListings.astro';
import AboutSection from '../components/AboutSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import LocationSection from '../components/LocationSection.astro';
import NewsSection from '../components/NewsSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Deseo Homes | Costa Blanca Real Estate Agency">
	<main>
		<HeroSection />
		<PropertyListings />
		<AboutSection />
		<ServicesSection />
		<LocationSection />
		<NewsSection />
	</main>
</Layout>
